<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header role= "banner">

    <ul class="nav nav-tabs">
      <li class="nav-item">

         <%= link_to "Blog",root_path, class:'navbar-brand' %>

      </li>

      <li class="nav-item">
 
      <%= link_to "Authors","#", class:'navbar-brand' %>
      </li>

    </ul>

  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= flash.each do |key,message|%>
          <div class="text-center alert alert-<%= key == 'notice' ? 'danger' : 'success'%>">
            <%= message %>
          </div>
        <%end%>
        <%= yield %>     
      </div>
    </div>
  </div>

</body>
</html>
